@{
    ViewData["Title"] = "Home Page";
}
@model Wedding
<div class="container-fluid text-center">
    <div class="row">
        <h2>Edit Your Wedding</h2>
        <div class="d-flex justify-content-center w-25 mx-auto">
            @* <a asp-action="Index">Home</a> *@
            @* <span class="ms-1 me-1"> | </span>
            <p>Add a Dish</p> *@
        </div>
    </div>
    <form asp-action="Edit" asp-controller="Wedding" method="post" class="w-75 mx-auto">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <label asp-for="WedderOne"></label>
                        <input asp-for="WedderOne" type="text" class="form-control" />
                        <span asp-validation-for="WedderOne" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="WedderTwo"></label>
                        <input asp-for="WedderTwo" type="text" class="form-control" />
                        <span asp-validation-for="WedderTwo" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="Date"></label>
                        <input asp-for="Date" type="date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" type="text" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-dark w-25 mx-auto" type="submit">Update</button>
                </div>
            </div>
    </form>
    @* <span class="text-danger" asp-validation-for="WedderOne"></span>
    <br>
    <span class="text-danger" asp-validation-for="WedderTwo"></span>
    <br>
    <span class="text-danger" asp-validation-for="Date"></span>
    <br>
    <span class="text-danger" asp-validation-for="Address"></span>
    <br> *@
    @* <span class="text-danger" asp-validation-for="Description"></span> *@
</div>